---
---

@import "{{ site.theme }}";

@keyframes color {
  0%   { background: white; }
  20%  { background: #fffafa; }
  40%  { background: #f5f5f5; }
  60%  { background: #F8F8FF; }
  80%  { background: #fdfff5; }
  100% { background: white; }
}

header {
  position: relative;
  padding-right: 0;
  padding: 20px;
  font-size: 3em;
}

figure {
  float: right;
}


.wrapper {
    width: 800px;
    margin: 0 auto;
}

body {
  background: white; /* Fallback */
  animation: color 11s infinite linear;
  padding: 60px;
  font-family: Arial;
  color:#7a7b6d;
  z-index: 0;
}

section {
  padding-bottom:50px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3b0954;
    margin:0 0 20px;
    font-size: 2em;
}

p {
  color: #7a7b6d;
  font-size: 1.5em;
}

small {
  font-size:0.4em;
}

a {
  color: #7c8800;
  text-decoration:none;
}

a:hover a:focus {
  color: #0C0088;
  text-decoration:none;
  font-weight: 400;
}

hr {
  border: 1px solid #7c8800;
  margin:0 0 20px;
}

footer {
  padding: 20px;
  text-align: right;
  position: relative;
}
