---
---

@import "{{ site.theme }}";

html { overflow-x: hidden; }

@keyframes color {
  0%   { background: white; }
  20%  { background: #fffafa; }
  40%  { background: #f5f5f5; }
  60%  { background: #F8F8FF; }
  80%  { background: #fdfff5; }
  100% { background: white; }
}

header {
  width: 1200px;
  position: relative;
  padding: 0px;
  padding-right: 0;
  font-size: 2.8em;
}

navbar {
  position:relative;
}

.wrapper {
    width: 1200px;
    padding-left: 20px;
    margin:0;
}

body {
  overflow-x: hidden;
  background: white; /* Fallback */
  animation: color 11s infinite linear;
  font-family: Arial;
  color:#7a7b6d;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
}

figure {
  vertical-align: top;
  float: right;
  width: 45%;
  text-align: right;
  text-indent: 0;
  border: thin transparent solid;
  margin: 0em;
  margin-left: 3em;
  padding: 0em;
}

figcaption {
  clear: both;
}

img:hover {
  transform: scaleX(-1);
}

section {
  width: 1200px;
  padding-right:0px;
  padding-top:10px;
  padding-left: 20px;
  padding-bottom:50px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3b0954;
    margin:0;
    font-size: 2em;
}

p {
  color: #7a7b6d;
  font-size: 1.6em;
}

small {
  font-size:0.6em;
}

a {
  color: #7c8800;
  text-decoration:none;
}

a:hover {
  color: #0C0088;
  text-decoration:none;
  font-weight: 400;
}

img {
  text-align: right;
}

footer {
  padding: 0px;
  width: 1200px;
  text-align: right;
  position: relative;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
    font-size: 2em;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  p {
    font-size: 1.1em;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}
