---
---

@import "jekyll-theme-minimal";


@keyframes color {
  0%   { background: white; }
  20%  { background: #fffafa; }
  40%  { background: #f5f5f5; }
  60%  { background: #F8F8FF; }
  80%  { background: #fdfff5; }
  100% { background: white; }
}

body {
  background: white; /* Fallback */
  animation: color 11s infinite linear;
  padding: 80px;
  font-family: Arial;
  color:#7a7b6d;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #3b0954;
    margin:0 0 20px;
}

p {
  color: #7a7b6d;
  z-index: 1;
  font-size: 1.1em;
}

small {
  font-size:9px;
}
