---
---

@import "jekyll-theme-minimal";

figure {
  float: right;
}

body {
  background-color: red;
  padding:100px;
  font-family: Arial;
  color:#7a7b6d;
}

h1, h2, h3, h4, h5, h6 {
    color: #3b0954;
    margin:0 0 20px;
}

p {
  color: #7a7b6d;
  z-index: 1;
  font-size: 1.1em;
}

small {
  font-size:9px;
}
