---
---

@import "{{ site.theme }}";

* {
padding: 0;
margin: 0;
}

@keyframes color {
  0%   { background: white; }
  20%  { background: #fffafa; }
  40%  { background: #f5f5f5; }
  60%  { background: #F8F8FF; }
  80%  { background: #fdfff5; }
  100% { background: white; }
}

header {
  width: 1100px;
  position: relative;
  padding: 0px;
  padding-right: 0;
  font-size: 2.8em;
}

navbar {
  position:relative;
}

.wrapper {
    width: 1100px;
    padding-left: 20px;
    margin:0;
}

body {
  background: white; /* Fallback */
  animation: color 11s infinite linear;
  font-family: Arial;
  color:#7a7b6d;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
}

figure {
  vertical-align: top;
  float: right;
  width: 45%;
  text-align: right;
  text-indent: 0;
  border: thin transparent solid;
  margin: 0em;
  margin-left: 3em;
  padding: 0em;
}

figcaption {
  clear: both;
}

img:hover {
  transform: scaleX(-1);
}

section {
  width: 1100px;
  padding-right:0px;
  padding-top:10px;
  padding-left: 20px;
  padding-bottom:50px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3b0954;
    margin:0;
    font-size: 2em;
}

p {
  color: #7a7b6d;
  font-size: 1.5em;
}

small {
  font-size:0.6em;
}

a {
  color: #7c8800;
  text-decoration:none;
}

a:hover {
  color: #0C0088;
  text-decoration:none;
  font-weight: 400;
}

img {
  text-align: right;
}

footer {
  padding: 0px;
  width: 1100px;
  text-align: right;
  position: relative;
}
