---
---

@import "{{ site.theme }}";
@import "fonts";


h1, h2, h3, h4, h5, h6 {
    font: Arial;
    color: #3b0954;
    margin:0 0 20px;
}

p {
  font: Arial;
  color: #7a7b6d;
  z-index: 1;
  font-size: 1.1em;
}

a {
  color: #7c8800;
}

a:hover {
  color: #0C0088;
}

small {
  font-size:9px;
}

img {
  max-width:50%;
}
