---
---

@import "{{ site.theme }}";

@keyframes color {
  0%   { background: white; }
  20%  { background: #fffafa; }
  40%  { background: #f5f5f5; }
  60%  { background: #F8F8FF; }
  80%  { background: #fdfff5; }
  100% { background: white; }
}

h1, h2, h3, h4 {
    color: #3b0954;
    font-family: Arial;
}

body {
  background: white; /* Fallback */
  animation: color 11s infinite linear;
  padding: 3em;
  z-index: 0;
}

p {
  font-family: Arial;
  color: #7a7b6d;
  z-index: 1;
  font-size: 1.1em;
}

a:link, a:visited, a:active {
  color: #7c8800;
}

a:hover {
  color: #0C0088;
}

small {
  font-size:9px;
}
