
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    {% include head-custom.html %}
  </head>
  
  <body>
    <div class="wrapper">
      
      {% include navigation.html %}
      
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      
      <section>
        {{ content }}
      </section>

      {% include footer.html %}
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
